*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: circle black;
    padding: 30px;
}

table, tr, td {
    border: 2px solid grey;
}
td{
    padding: 2px;
}

h1, h2 {
    font-size: 32px;
    font-style: bold;
}
.spisokvalut {
    font-size: 20px;
    margin-left: 10px;
}

.shapka {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.cell {
    font-size: 20px;
}

.flag {
    width: 50px;
}

.kurs{
    padding: 20px 0;
}